version: '3.8'
services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/app
    depends_on:
      - backend
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    volumes:
      - ../backend:/app
